body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}
.to-do {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
input[type="text"] {
    width: calc(100% - 70px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {

    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    background-color: blue;
}
button.delete-btn {
    background-color: blue;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li span {
    flex-grow: 1;
}